*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 1366px;
    height: 625px;
}

.ban{
    width: 550px;
    height: 625px;
    float: left;
}

#header{
    width: 550px;
    height: 43px;
    background-color: black;
}

#logout{
    float: right;
}

#home{
    position: absolute;
    top: 5px;
    font-size:20px;
    color: white;
}

#time{
    float: right;
    position: relative;
    top: 10px;
}

#cacban{
    width: 550px;
    height: 582px;
    padding-left: 15px;
}

#display-ban{
    display:inline;
    text-align: center;
    padding: 10px 25px 10px 25px;
    margin: 5px;
    font-size: 20px;
}

#khachhang {
    font-size: 50px;
}

#danhsachmonan{
    width: 816px;
    height: 625px;
    float: right;
    background-color: black;
}

#text-danhsachmonan{
    font-family: Cambria;
    color: #FF8C00;
    display: inline;
    position: relative;
    left: 250px;
    top: 5px;
    padding: 0px 25px 0px 25px;
}

#display-danhsachmonan{
    width: 799px;
    height: 575px;
    margin: 10px 10px 10px 10px;
    background-color: white;
}

#menu-mathang{
    width: 799px;
    height: 43px;
}

#noidung-mathang{
    width: 799px;
    height: 532px;
}

#thucuong{
    float: left;
    height: 280px;
    width: 376px;
}

.img-thucuong{
    width: 100px;
    height: 100px;
}

.img-monan{
    width: 100px;
    height: 100px;
}

#vebuffet{
    float: left;
    width: 376px;
    height: 252px;
}

#vebuffet-private{
    width: 799px;
    height: 532px;
}
#vebuffet-private-table{
    position: relative;
    left: 80px;
    top: 50px;
}
#backgroundvebuffet{
    float: right;
    position: relative;
    right: 80px;
    bottom: 200px;
}

#monan{
    float: right;
    width: 323px;
    height: 532px;
}

#monan-private{
    width: 799px;
    height: 532px;
}
#monan-private-content{
    width: 399px;
    height: 532px;
    float: left;
}
#monan-private-table{
    position: relative;
    left: 30px;
}
#monan-private-pic{
    width: 400px;
    height: 532px;
    float: right;
}
.backgroundmonan{
   position: relative;
   left: 50px;
}

#show-pic{
    float: right;
    width: 100px;
    height: 532px;
}

.title-mathang{
    font-family: Comic Sans MS cursive;
    color: #FF8C00;
}

.tenmon{
    font-family: Comic Sans MS cursive;
    font-weight: bold;
}