*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 1366px;
    height: 625px;
}

#header{
    background-color: black;
    width: 800px;
    height: 50px;
    float: left;
}

#nhanvien{
    color: white;
    font-size: 20px;
    float: right;
    position: relative;
    top: 7px;
    right: 430px;
}

#trove{
    font-size: 24px;
}

#time{
    float: right;
    position: relative;
    left: 100px;
    top: 10px;
}

#order{
    width: 800px;
    height: 575px;
    float: left;
}

#chonmon{
    float: right;
    width: 566px;
    height: 625px;
}

#header-chonmon{
    background-color: black;
    height: 50px;
}
#banso{
    text-align: center;
    font-size: 40px;
    color: #00ff00;
    position: relative;
    bottom: 5px;
}

#content-chonmon{
    background-color: black;
    height: 575px;
}
#maincontent-chonmon{
    background-color: white;
    height: 575px;
    width: 560px;
    float: right;
}