body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
        width: 1366px;
        height: 625px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
        width: 400px;
        height: 400px;
        position: relative;
        top: -150px;
        left: 200px;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

#top-form{
    margin-top: 40px;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

#trove{
    position: relative;
    left: 500px;
}

#title-doimatkhau{
    color: #FF8C00;
    text-align: center;
}

label{
    font-weight: bold;
}

.sidenav{
    font-size: 70px;
    text-align: center;
}

.login-main-text{
    position: relative;
    top: -50px;
}