* {
    font-family: DejaVu Sans, sans-serif;
}

body {
    font-size: 14px;
}

.companyInfo {
    font-weight: bold;
    text-align: center;
}

.tieude{
    color: deepskyblue;
}

#sohoadon{

}

#giothanhtoan{

}

.thanhphan{
    border-bottom: 2px dotted deepskyblue;
}

.vat{
    border-bottom: 2px solid black;
}